@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: local(
    "src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf"
  );
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: local(
    "src/assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf"
  );
  font-weight: 700;
}

body {
  /* font-family: "Montserrat Alternates"; */
  font-weight: 500;
  width: 100vw;
  height: 100vh;
  background-color: #2e2e2e;
}

.cont {
  @apply mx-auto w-full max-w-[1024px] px-4;
}
